@import "../../style/variables";

.legal {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: $greyscale-1;
  line-height: 1;

  li {
    display: inline-block;
    border-right: 1px solid black;
    padding-right: 5px;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      border-right: 0;
      padding-right: 0;
    }

    a {
      color: $greyscale-1;

      &:hover {
        color: $primary;
      }
    }
  }
}
